@font-face {
    font-family: "Gotham Rounded";
    src: url("GothamRounded-Medium.otf");
}
*{
    box-sizing: border-box;
    font-family: "Gotham Rounded", sans-serif;
}

body{
    background: linear-gradient(to right, #0cf2f2,#59f0a2);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}

.previous,.current{
    width: 300px;
    border: 1px solid black;
    text-align: end;
    padding: 2px;
    background-color: rgb(7,9,1);
    color: rgb(240,245,250);
    overflow: hidden;
}

.previous{
    border-bottom: none;
    font-size: 16px;
}

.current{
    border-top: none;
    font-size: 32px;
}

.row{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 48px;
}

.container button{
    background-color: rgb(255, 227, 194);
    border: 2px solid white;
    cursor: pointer;
    padding: 2px;
}

.container button:hover{
    background-color: rgb(252, 236, 217);
}
.double{
    flex-grow: 2;
    flex-basis: 50px;
}

.single{
    flex-grow: 1;
    flex-basis: 25px;
}